# 32회 ADP 복원

# 기계학습 (60점)

## 데이터 설명
- 데이터 출처 : https://www.kaggle.com/datasets/csafrit2/steel-industry-energy-consumption?resource=download 후처리
- 데이터 링크 : https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/32/adp32_p1.csv
- 데이터 설명 : 시간대별 발전량에 대한 데이터이다

## 전처리 규칙
- 파생변수 ind11칼럼의 값이 1인 데이터만 훈련에 사용할 것, ind22칼럼의 값이 1인 데이터만 테스트에 사용할 것
- 모든 모델링은 그리드서치를 통해서 최적 파라미터를 산출할 것 (각 모델의 파라미터는 3개 이하로)

In [7]:
import pandas as pd 
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/32/adp32_p1.csv")
df.head()

               date   Kwh  LaCR  LeCR  co2    LaF    LeF
0  01/01/2018 00:15  3.17  2.95   0.0  0.0  73.21  100.0
1  01/01/2018 00:30  4.00  4.46   0.0  0.0  66.77  100.0
2  01/01/2018 00:45  3.24  3.28   0.0  0.0  70.28  100.0
3  01/01/2018 01:00  3.31  3.56   0.0  0.0  68.09  100.0
4  01/01/2018 01:15  3.82  4.50   0.0  0.0  64.72  100.0

## 1-1  date 컬럼을 이용하여 3개의 파생변수를 만들어라
- 1. month : 해당 시각의 월 정보
- 2. day : 해당 시각의 일자 정보, 일요일-0, 월요일-1 ~ 토요일-6
- 3. nsd : 해당 시각의 일자의 자정으로부터 소요된 총 분(minute)

## 1-2 아래 기준으로 두개의 파생변수를 추가하라
- 파생변수명(ind11) : month, day, nsd 컬럼의 합이 11의 배수이고 22의 배수가 아니라면 1의 값 그 외는 0의 값
- 파생변수명(ind22) : month, day, nsd 컬럼의 합이 22의 배수라면 1의 값 그 외는 0의 값

## 1-3 아래 기준으로 한개의 파생변수를 추가하라
- 파생변수명(Kwh8) : Kwh컬럼의 값이 4.1 초과일 경우 1 그 외 0

## 1-4 전처리 완료한 데이터를 기준으로 EDA를 실시하라 (시각화 포함)

## 1-5 Kwh8를 종속 변수로 하여(Kwh제거) 분류 모델을 학습하고 평가하라. 서포트벡터머신과 랜덤포레스트를 사용하라. confusionmatrix를 해석하라

## 1-6 Kwh를 종속 변수로 하여(Kwh8 제거) 회귀 모델을 학습하고 평가하라. 서포트벡터머신과 랜덤포레스트를 사용하라

## 1-7 아래 두 조건으로 각각 데이터를 추출하여 회귀 모델링을 하고 1-6과 성능을 비교하라
- Kwh8 값이 1인 데이터만 추출 후 Kwh8 컬럼 제거
- Kwh8 값이 0인 데이터만 추출 후 Kwh8 컬럼 제거

## 데이터 설명
- 데이터 출처 : https://www.data.go.kr/data/15126430/fileData.do 후처리 + 자체제작
- 데이터 링크 : 
    - https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/32/adp32_p2.csv
    - https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/32/adp32_p2_sub.csv
- 데이터 설명 : 
    - 두가지 데이터이다. 
    - adp32_p2.csv : J시의 4개의 발전기의 시간당 발전용량에 대한 정보이다.
    - adp32_p2_sub.csv : J시의 시간별 계절성 정보 데이터이다.

In [13]:
p = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/32/adp32_p2.csv')
weather = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/32/adp32_p2_sub.csv')
display(p.head())
display(weather.head())

,발전기명,일자,설비용량,0시,1시,2시,3시,4시,5시,6시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,a,2020-01-01,263.225,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,93.280,53.840,21.630,5.690,4.610,4.270,1.330,0.530,0.0,0.0
1,b,2020-01-01,245.725,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,88.250,51.059,22.283,5.244,4.183,3.848,1.290,0.564,0.0,0.0
2,c,2020-01-01,254.425,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,90.641,50.344,22.072,5.652,4.495,4.089,1.240,0.526,0.0,0.0
3,d,2020-01-01,250.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,86.995,51.953,21.831,6.149,4.666,4.141,1.228,0.491,0.0,0.0
4,a,2020-01-02,263.225,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,39.000,25.860,8.310,4.090,0.730,1.070,0.390,0.020,0.0,0.0

                 일시   기온  강수량(mm)    습도  적설(cm)  전운량(10분위)  일조(hr)  일사량
0  2020-01-01 00:00  2.4      NaN  63.0     0.0          9     0.0  0.0
1  2020-01-01 01:00  2.6      0.0  63.0     0.0          9     0.0  0.0
2  2020-01-01 02:00  2.7      0.0  68.0     0.0          9     0.0  0.0
3  2020-01-01 03:00  3.2      0.0  69.0     0.0          9     0.0  0.0
4  2020-01-01 04:00  3.0      0.0  65.0     0.0          9     NaN  0.0

## 2-1 아래 조건들을 참고하여 전처리를 시행하라
- 계절성 정보 데이터 중 강수량과 일조량의 결측치를 0으로 채워라
- 계절성 정보 데이터 중 기온은 직전시간과 직후시간의 기온의 평균값으로 결측치를 대치하라
- 계절성 정보데이터와 발전용량 데이터를 머지하라.
    - 계절성 정보데이터의 일자,시각을 기준으로 한다.
    - 계절성 정보데이터에 발전기명, 설비용량, 발전량 컬럼을 추가하여 일조량을 추가한다.

## 2-2 전처리 데이터를 기준으로 아래 조건으로 train,test 데이터를 나눈다. 데이터 분리 후 train 데이터의 기초 통계량을 확인하라
- a발전기의 12시~18시의 데이터만 모델링에 사용한다. 
- 2020년도, 2021년도는 train, 2022년도는 test 데이터로 사용한다

## 2-3 train 데이터 세트의 발전량과 나머지 변수간의 상관관계를 확인하라

## 2-4 발전량을 종속변수로 하여 2개의 회귀모델링을 진행하고 모델을 평가하라

# 통계 (40점)

## 데이터 설명
- 데이터 출처 : https://www.kaggle.com/code/prasadperera/the-boston-housing-dataset 후처리
- 데이터 링크 : https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/32/adp32_s1.csv
- 데이터 설명 : 보스턴 집값 관련 데이터
    - MEDV (집값): 종속변수

In [23]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/32/adp32_s1.csv')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT1,LSTAT2,MEDV
0,0.00632,18.0,2.31,0.0,0.538,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,5.0520,24.0
1,0.02731,0.0,7.07,0.0,0.469,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,9.4440,21.6
2,0.02729,0.0,7.07,0.0,0.469,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,3.8970,34.7
3,0.03237,0.0,2.18,0.0,0.458,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,2.9410,33.4
4,0.06905,0.0,2.18,0.0,0.458,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,5.4075,36.2

## 3-1 기본 회귀가정을 검토하라

## 3-2 변수간 관계 검토하고 문제점 해결방안 2가지를 제시하라

## 3-3 3-2에서 제안한 것을 반영하여 문제를 해결하고 적용 결과를 제시하라

## 데이터 설명
- 데이터 출처 : https://www.rdocumentation.org/packages/datasets/versions/3.6.2/topics/mtcars 후처리
- 데이터 링크 : https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/32/adp32_s2.csv
- 데이터 설명 : 차량정보데이터

## 4-1 cyl랑 gear 컬럼으로 교차테이블을 만들어라

## 4-2 두 범주형 변수간 차이가 존재하는지 확인하려한다. 귀무가설과 대립가설을 작성하라

## 4-3 통계검정을 실시하고 해석하라

## 데이터 설명
- 데이터 출처 : 자체제작
- 데이터 링크 : https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/32/adp32_s3.csv
- 데이터 설명 : 남녀 급여 데이터

## 5-1 각 성별의 급여 데이터가 정규성을 만족하는지 확인하라.

## 5-2 위 결과에 맞는 남녀 월급 차이가 있는지 확인 하기 위한 검정 전략을 설명하라

## 5-3 가설에 따른 검정을 수행하고, 검정통계량과 p-value를 설명하라